*.pdf
*Notes.bib
*.out
*.o
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.swp
*.bbl
*.blg
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.bcf
*.nav
*.run.xml
*.snm
*.tex.bak
*.dat

# Directories:
/QC_CGA/
.vscode/
*pyfigures/
*data/

# Environments:
*env/

# Python stuff:
*__pycache__/
